body{
  margin: 0;
  padding: 0;
}
.wrapper{
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.filter-container h1{
  margin: 15px auto;
  padding-bottom: 15px;
  text-transform: uppercase;
  /*border-bottom: 5px solid #92d050;*/
}
.horizontal-line{
  position: absolute;
  top: 60px;
  width: 100%;
  height: 3px;
  background: #207189;
}
.wrap-filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter {
  width: 50%;
  margin-right: 25px;
  align-self: flex-start;
}
.filter ul{
  display: flex;
  margin-top: 0;
  padding-left: 0;
}
.filter ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 100px;
  margin-right: 15px;
  padding: 10px;
  text-align: center;
  border: 2px solid #207189;
}
.filter ul li span{
  align-self: flex-start;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  color: #207189;
  font-weight: bold;
}
.filter ul li select{
  overflow: hidden;
  width: 100%;
  max-width: 100px;
  border: 2px solid #207189;
}
.filter ul li input[type='text'],
.filter ul li input[type='date'],
.filter ul li input[type='number']{
  width: 100%;
  max-width: 85px;
  border: 2px solid #207189;
}
.wrap-data-viewer{
  width: 50%;
  border: 2px solid #207189;
}
.wrap-data-viewer h3{
  text-align: center;
  color: #207189;
  font-weight: bold;
}

.form-filter{
  display: flex;
  flex-direction: column;
}
.send{
  position: relative;
  top: -50px;
  width: 150px;
  height: 35px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #207189;
  border: 2px solid #207189;
  background: transparent;
  align-self: flex-end;
  outline: none;
  transition: .3s all ease-in-out;
}
.send:hover{
  color: #ffffff;
  background: #207189;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
